:root{
    --background-color: #E7DFD8;
    --button-color: #7837F3;
    --text-color: #FFFFFF;
    --main-text-color: #101010;
    --secondary-text-color: #E4D8CC;
    --third-text-color: #B99FEA;
    --fourt-text-color: #C3BAB1;
    --link-color: #B99FEA;
    --second-link-color: #EBA789;
    --third-link-color: #96DBC6;
    --footer-border-color: #E4D8CC29;
}