:root{
    --background-color: #E7DFD8;
    --button-color: #7837F3;
    --text-color: #FFFFFF;
    --main-text-color: #101010;
    --secondary-text-color: #E4D8CC;
    --third-text-color: #B99FEA;
    --fourt-text-color: #C3BAB1;
    --link-color: #B99FEA;
    --second-link-color: #EBA789;
    --third-link-color: #96DBC6;
    --footer-border-color: #E4D8CC29;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

ul,a{
    list-style: none;
    text-decoration: none;
}

header a{
    color: var(--secondary-text-color);
}

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header.header{
    background-image: url(./img/bg2.jpg);
    background-size: cover;
    background-position: center;
height: 784px;
}

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: solid 3px red; */
}

header .list, .auth-list{
    display: flex;
    gap: 30px;
}

.header .list{
    padding-left: 134px;
    padding-top: 23px;
}

.auth-list{
    padding-right: 22px;
    padding-top: 23px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.first-button{
    color: var(--text-color);
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    width: 218px;
height: 52px;
border-radius: 100px;
border: 2px solid var(--button-color);
background: var(--button-color);
margin-right: 16px;
}

.second-button{
    color: var(--text-color);
font-family: Inter;
font-size: 16px;
line-height: 24px;
    width: 170px;
height: 52px;
border: transparent;
border-radius: 100px;
background: rgba(228, 216, 204, 0.50);
}

.text{
    color: var(--main-text-color);
font-size: 14px;
}

.main .text{
    color: var(--fourt-text-color);
font-size: 18px;
line-height: 28px;
}

.main-title + .text{
    margin-bottom: 42px;
}

.main{
    padding-top: 364px;
}

.main-title{
    color: var(--background-color);
    padding-bottom: 14px;
    width: 838px;
font-size: 57px;
font-weight: 400;
line-height: 60.48px;
}

.main-text{
    color: var(--secondary-text-color);
}

.hero-list{
    margin-left: 64px;
    margin-right: 64px;
}

.hero-list .item{
    color: var(--main-text-color);
    border-bottom: solid 2px var(--main-text-color);
    padding-bottom: 8px;
}

.hero-list .item::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(./img/arow.png);
}

.hero-sec{
    display: flex;
}

.info{
    padding-right: 106px;
}

.hero-img{
    width: 539px;
height: 283px;
}

.hero{
    padding-top: 76px;
    padding-bottom: 75px;
}

.hero-list{
    padding-top: 124px;
}

.hero-title{
    width: 507px;
font-size: 54px;
font-weight: 400;
}

.hero-text{
    width: 452px;
font-size: 16px;
padding-top: 15px;
padding-bottom: 75px;
}

/* FIRST LIST */

.first-item{
    display: flex;
    flex-direction: row-reverse;
}

.first-advantages{
    padding-left: 116px;
}

.first-advantages .top-text{
    color: var(--main-text-color);
font-size: 19px;
line-height: 36px;
width: 225px;
}

.first-advantages .title{
font-size: 35px;
font-weight: 400;
line-height: 45.632px;
letter-spacing: 1px;
padding-top: 36px;
padding-bottom: 11px;
width: 459px;
}

.first-advantages .text{
    color: var(--main-text-color);
line-height: 22.08px;
width: 494px;
padding-top: 48px;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 38px;
line-height: 24px;
width: 74px;
height: 74px;
border-radius: 100px;
background: var(--link-color);
}

/* SECOND LIST */

.second-item{
    display: flex;
    padding-bottom: 183px;
    padding-top: 203px;
}

.second-advantages{
    padding-right: 139px;
}

.second-advantages .top-text{
    color: var(--main-text-color);
font-size: 19px;
line-height: 36px;
width: 260px;
}

.second-advantages .title{
    color: var(--main-text-color);
font-size: 35px;
font-weight: 400;
line-height: 45.632px;
letter-spacing: 1px;
width: 490px;
padding-bottom: 9px;
padding-top: 36px;
}

.second-advantages .text{
    color: var(--main-text-color);
line-height: 22.08px;
width: 495px;
padding-top: 49px;
}

.two{
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 38px;
line-height: 24px;
width: 74px;
height: 74px;
border-radius: 100px;
background: var(--second-link-color);
}

/* THIRD LIST */

.third-item{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 81px;
}

.third-advantages{
    padding-left: 116px;
}

.third-advantages .top-text{
    color: var(--main-text-color);
    font-size: 19px;
    line-height: 36px;
    width: 220px;
}

.third-advantages .title{
    color: var(--main-text-color);
font-size: 35px;
font-weight: 400;
line-height: 45.632px;
letter-spacing: 1px;
width: 491px;
padding-bottom: 9px;
padding-top: 36px;
}

.third-advantages .text{
    color: var(--main-text-color);
font-size: 15px;
line-height: 22.08px;
width: 485px;
padding-top: 49px;
}

.tree{
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 38px;
line-height: 24px;
width: 74px;
height: 74px;
border-radius: 100px;
background: var(--third-link-color);
}

.first-review::before{
    content: "";
    display: block;
    width: 72px;
    height: 62px;
    padding-top: 116px;
    margin-left: 209px;
    margin-bottom: 48px;
    background-image: url(./img/review.png);
    background-repeat: no-repeat;
}

.first-review{
    padding-left: 107px;
    padding-right: 45px;
}

/* REVIEW */

.reviews .list{
    display: flex;
}

.first-review .text{
    width: 489px;
text-align: center;
font-size: 24px;
line-height: 32px;
}

.first-review .text:nth-last-child(1){
    width: 198px;
text-align: start;
font-size: 14px;
line-height: 24px;
}

.members{
    display: flex;
    gap: 29px;
    margin-top: 61px;
    margin-bottom: 112px;
}

.second-review{
    padding-left: 85px;
}

.second-review:before{
    content: "";
    display: block;
    width: 72px;
    height: 62px;
    padding-top: 116px;
    margin-left: 169px;
    margin-bottom: 48px;
    background-image: url(./img/review2.png);
    background-repeat: no-repeat;
}

.second-review .text{
    width: 409px;
text-align: center;
font-size: 23px;
line-height: 32px;
padding-bottom: 68px;
}

.img-rewiev{
    padding-left: 135px;
    background-color: #101010;
}

/* Questions */

.questions{
    background-color: var(--main-text-color);
    padding-bottom: 153px;
    padding-top: 118px;
}

.questions .container{
    display: flex;
    justify-content: space-between;
}

.questions .container::after{
content: "";
display: block;
width: 520px;
height: 539px;
    background-image: url(./img/frame.png);
    background-repeat: no-repeat;
}

.questions-title{
    color: var(--background-color);
font-size: 36px;
line-height: 45.632px;
font-weight: 400;
letter-spacing: 1px;
padding-left: 64px;
margin-bottom: 45px;
}

.questions .list{
    display: block;
    padding-left: 64px;
    color: var(--link-color);
}

.questions .what{
    margin-bottom: 52px;
}

.questions .list a{
    color: var(--third-text-color)
}

/* Missions */

.mission{
    background-image: url(./img/bg.jpg);
    height: 600px;
}

.mission .text{
    color: var(--fourt-text-color);
    padding-top: 139px;
    margin-bottom: 19px;
font-size: 15px;
line-height: 16px;
}

.mission .main-title{
    width: 580px;
    color: var(--background-color);
font-size: 48px;
line-height: 54px;
}

.mission .under-text{
    color: var(--secondary-text-color);
font-size: 12px;
letter-spacing: 2px;
border-bottom: solid 2px var(--secondary-text-color);
padding-bottom: 8px;
}

/* footer */

.main-footer{
    display: flex;
    padding-top: 78px;
}

.first-half{
    margin-right: 42px;
}

.footer{
    background-color: var(--main-text-color);
    padding-left: 67px;
}

.footer .main-text{
    margin-bottom: 28px;
font-size: 23px;
line-height: 24px;
}

.footer .text{
    display: flex;
    color: var(--secondary-text-color);
    padding-bottom: 48px;
    padding-top: 86px;
    color: #E4D8CC;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.footer .list{
    margin-right: 75px;
}

.footer .item{
    color: var(--secondary-text-color);
    margin-bottom: 48px;
font-size: 16px;
line-height: 0.16px;
}

.users-servises{
    display: flex;
}

.users-servises a{
    color: var(--secondary-text-color);
    margin-right: 48px;
}

footer{
    color: var(--background-color);
}

footer .footer-img{
    margin-right: 298px;
    margin-top: 29px;
    border-top: var(--footer-border-color);
}

.footer button{
border-radius: 100px;
height: 42px;
font-family: Inter;
}

.footer .first-half button{
    width: 215px;
color: var(--text-color);
border: 1px solid var(--button-color);
background: var(--button-color);
font-size: 16px;
line-height: 24px;
}

.footer .second-half button{
    width: 251px;
color: var(--secondary-text-color);
font-size: 15px;
line-height: 24px;
border: 1px solid var(--secondary-text-color);
background: var(--main-text-color);
}

.users-servises::after{
    content: "";
    display: block;
    width: 60px;
    height: 55px;
    background-image: url(./img/smile.png);
    margin-left: 230px;
    margin-top: 180px;
}

.smartest-way{
    text-align: end;
}

footer .under-text{
    text-align: end;
}

.social-footer{
    display: flex;
    margin-top: 160px;
}

.social{
    display: flex;
}
