.img-rewiev{
    margin-left: 135px;
    background-color: var(--main-text-color);
}

.reviews{
    padding-top: 116px;
    padding-bottom: 112px;
}

.reviews .list{
    display: flex;
}

.members{
    display: flex;
    gap: 29px;
    margin-top: 61px;
}
